body {
    background-color: #FFFFFB;
}

nav {
    background-color: #FFFBEE;
}

nav a {
    color: #111111;
}
nav a:visited {
    color: #111111;
}

.paper {
    background-color: #FFFBEE;
}

#introduction {
    font-size: 2vw;    
}

#introduction a {
    color: #282003;
}

#introduction img {
    border: 1em solid #482022;
    padding: 0.5em;
}

#title-name h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 3em;
}

#self-intro {
    font-size: 1em;
}
